

@mixin hedben {
    color: #fff;
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 100px;
    border: 1px solid #FFF;
  
}
@mixin h2a{
    font-family: 'Varela Round', sans-serif;
    color: #BB2339;
    font-size: 48px;
    font-style: normal;
    font-weight: 500; 
}